@use '../node_modules/modern-normalize/modern-normalize.css';

:root {
    --grid-gutter: 1rem;
}

main {
    padding: var(--grid-gutter) var(--grid-gutter) 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.text {
    margin-left: var(--grid-gutter);
    margin-right: var(--grid-gutter);
}

.example {
    margin-left: calc(-1 * var(--grid-gutter));
    width: calc(100% + (2 * var(--grid-gutter)));
    padding: calc(2 * var(--grid-gutter));
    background-color: #ededed;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    .text {
        width: percentage(8 / 12);
        margin: 0 auto;
    }
    .example {
        width: percentage(10 / 12);
        margin: 0 auto calc(2 * var(--grid-gutter));
    }
}

@media screen and (min-width: 992px) {
    .text {
        width: percentage(7 / 12);
        margin: 0 auto;
    }
    .example {
        width: percentage(8 / 12);
    }
}

@media screen and (min-width: 1200px) {
    .text {
        width: percentage(4 / 12);
        margin: 0 auto;
    }
    .example {
        width: percentage(5 / 12);
    }
}

.example img {
    max-width: 100%;
}

// https://github.com/twbs/bootstrap/blob/master/scss/mixins/_screen-reader.scss
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
