@use '../node_modules/modern-normalize/modern-normalize.css';

.text {
    width: percentage(4 / 12);
    margin: 0 auto;
}

.example {
    width: percentage(6 / 12);
    margin: 0 auto;
    padding: 2rem;
    background-color: #ededed;
}

.example img {
    max-width: 100%;
}

// https://github.com/twbs/bootstrap/blob/master/scss/mixins/_screen-reader.scss
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
